/* common */
html, body, #app {
  height: 100%;
  width: 100%;
}

.scriptform {
  height: 100%;
  width: 100%;
  padding-bottom: 200px;
  box-sizing: border-box;
  overflow: hidden;
  clear: both;
}

.input,
.output {
  height: 100%;
  width: 50%;
  float: left;
}

/* input */
.sourcearea {
  display: block;
  height: 100%;
  width: 100%;
  padding: 14px 10px;
  border: none;
  font: normal 14px/21px Consolas, Monaco, 'Andale Mono', monospace;
  box-sizing: border-box;
  outline: none;
  resize: none;
}

/* code highlight */
.output {
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #F5F2F0;
}

pre[class*="language-"] {
  margin: 0;
  height: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

/* console */
#console {
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  border-top: solid 1px #CCCCCC;
  box-sizing: border-box;
  background-color: #FFFFFF;

  > li {
    height: 20px;
    font: normal 12px/20px Consolas, Monaco, 'Andale Mono', monospace;
    padding: 0 10px;

    &:nth-child(2n+1) {
      background-color: #F4F4F4;
    }

    &.error {
      color: #FF0000;
      content: 'Error: ';
    }

    &.warn {
      color: #808000;
    }

    &.log {
      color: #0000FF;
    }
  }
}

